guile_version=$(guile -c '(display (version))')

if [ "${GUILE_LOAD_PATH:-no}" = "no" ]; then
	export GUILE_LOAD_PATH="$PWD/module:$PWD/contrib/module"
else
	export GUILE_LOAD_PATH="$PWD/module:$PWD/contrib/module:$GUILE_LOAD_PATH"
fi

if [ "${GUILE_LOAD_COMPILED_PATH:-no}" = "no" ]; then
	export GUILE_LOAD_COMPILED_PATH="$PWD/obj-${guile_version}/module"
else
	export GUILE_LOAD_COMPILED_PATH="$PWD/obj-${guile_version}/module:$GUILE_LOAD_COMPILED_PATH"
fi
unset guile_version

export PATH="$PWD/static/node_modules/.bin:$PATH"
export PATH="$PWD/scripts/:$PATH"
